a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
source,
span,
strike,
strong,
sub,
sup,
table,
tbody,
tdvideo,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    background: 0 0;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.tiles-container {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
}

.tiles {
    height: 100%;
    width: 65%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.tile {
    height: 25%;
    width: 24.8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tile-picture {
    height: 60%;
    width: 100%;
    border-bottom: 2px solid black;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

// Tabs
.tabs {
    height: 20%;
    width: 100%;
    position: absolute;
    // background-color: red;
    z-index: 9999;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabs-cont {
    height: 100%;
    width: 80%;
    // background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tab {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;

    h1 {
        height: 75%;
        width: 100%;
        font-size: 2rem;
        color: white;
        text-align: center;
    }

    h3 {
        height: 25%;
        width: 100%;
        font-size: .9rem;
        color: white;
        text-align: center;

    }
}

.toddlers {
    background-color: #b377d9;
}

.everyone {
    background-color: #7277d5;
}

.family {
    background-color: #4a8bdb;
}

.extreme {
    background-color: #3bbeb0;
}

.wc {
    background-color: #b0c151;
}

.lockers {
    background-color: #f5ba42;
}

.food {
    background-color: #f59b43;
}

.parking {
    background-color: #e7663f;
}

.firstaid {
    background-color: #d9434e;
}