// Variables
@toddlersColor: hsl(277, 56%, 66%);
@everyoneColor: hsl(237, 54%, 64%);
@familyColor: hsl(213, 67%, 57%);
@extremeColor: hsl(174, 53%, 49%);
@wcColor: hsl(69, 47%, 54%);
@lockerColor: hsl(40, 90%, 61%);
@foodColor: hsl(30, 90%, 61%);
@parkingColor: hsl(14, 78%, 58%);
@firstaidColor: hsl(356, 66%, 56%);
@titleColor: hsl(216, 66%, 51%);

// Reset
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
source,
span,
strike,
strong,
sub,
sup,
table,
tbody,
tdvideo,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    background: 0 0;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tiles-container {
    height: 250%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    height: 10%;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    color: @titleColor;
    letter-spacing: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tiles {
    height: 100%;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.tile {
    height: 300px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.tile-picture {
    height: 60%;
    width: 100%;
    border-bottom: 2px solid black;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.tile-title {
    height: 20%;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile-icon {
    height: 25px;
    width: 25px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.tile-buttons {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button,
    a {
        margin: 1%;
        height: 60%;
        width: 15%;
        background-color: transparent;
        border: 1px solid lightgrey;
        color: @titleColor;
        text-decoration: none;
    }
}

.tile-mixin(@color) {
    .tile-picture {
        border-bottom: 2px solid @color;
    }

    span,
    .tile-title {
        color: @color;
    }
}

.toddlers-tile {
    .tile-mixin(@toddlersColor)
}

.everyone-tile {
    .tile-mixin(@everyoneColor)
}

.family-tile {
    .tile-mixin(@familyColor)
}

.extreme-tile {
    .tile-mixin(@extremeColor)
}

.wc-tile {
    .tile-mixin(@wcColor)
}

.locker-tile {
    .tile-mixin(@lockerColor)
}

.food-tile {
    .tile-mixin(@foodColor)
}

.parking-tile {
    .tile-mixin(@parkingColor)
}

.aid-tile {
    .tile-mixin(@firstaidColor)
}

// Tabs
.tabs {
    height: 18%;
    width: 100%;
    position: absolute;
    // background-color: red;
    z-index: 9999;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.tabs-cont {
    height: 100%;
    width: 80%;
    // background-color: blue;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;

    @media screen and (max-width: 1200px) {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
}

.tab {
    height: 100%;
    //run a calc to get get a fixed pixel width based on browser size 
    width: 115px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    @media screen and (max-width: 1200px) {
        width: 120px;
        flex: 0 0 auto;
        scroll-snap-align: start;
    }

    &:hover {
        cursor: pointer;
    }

    h1 {
        height: 60%;
        width: 100%;
        font-size: 2rem;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h3 {
        height: 40%;
        width: 100%;
        font-size: .9rem;
        font-weight: normal;
        color: white;
        text-align: center;
    }
}

.tab-nav {
    display: none;
    object-fit: contain;
    height: 100%;
    width: 10%;
}

#tab-left {
    transform: rotate(90deg);
}

#tab-right {
    transform: rotate(-90deg);

    @media screen and (max-width: 1200px) {
        display: initial;
    }
}

#toddlers {
    background-color: @toddlersColor;
}

#everyone {
    background-color: @everyoneColor;
}

#family {
    background-color: @familyColor;
}

#extreme {
    background-color: @extremeColor;
}

#wc {
    background-color: @wcColor;
}

#lockers {
    background-color: @lockerColor;
}

#food {
    background-color: @foodColor;
}

#parking {
    background-color: @parkingColor;
}

#firstaid {
    background-color: @firstaidColor;
}



.greyscale {
    filter: saturate(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);

    // can do a greyscale animation 
    // https: //stackoverflow.com/questions/16340159/greyscale-background-css-images
}

// breadcrumb comes in from elsewhere
// add for local dev 
.x-breadcrumb {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px 15px;

    ul > li {
        float: left;
        margin-right: 12px;
        padding-right: 12px;
        position: relative;
    }

    ul > li::before {
        display: block;
        position: absolute;
        content: '/';
        top: 50%;
        right: 0;
        font-size: 8px;
        margin-top: -4px;
    }

    ul > li > a, span
    {
        float: left;
        font-size: 10px;
        font-weight: 700;
        font-family: 'Open Sans',
        sans-serif;
        color: #949494;
        line-height: 14px;
        letter-spacing: .2em;
        border-bottom: 1px solid transparent;
    }

    span:hover {
        border-color: #949494;
        -moz-transition: border-color .2s ease-in-out;
        -webkit-transition: border-color .2s ease-in-out;
        -o-transition: border-color .2s ease-in-out;
        transition: border-color .2s ease-in-out;
    }
}

//popup
.popup {
    height: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
}

.popup-picture {
    height: 65%;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.popup-title {
    height: 20%;
    width: 100%;
    // font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-buttons {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;

    button {
        height: 100%;
        width: 50%;
        background-color: lightgrey;
        border: none;
        color: @titleColor;
    }

    button:first-child {
        border-right: 1px solid white;
    }
}

.recessed {
    margin-top: 5px;
    // box-shadow: inset 3px 3px 15px 2px rgba(0, 0, 0, 0.3);
}

//add resets 
.leaflet-pane {
    height: 0px;
}